.thead {
    background: linear-gradient(to bottom right, rgb(4, 88, 94), royalblue);
    height: 40px;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: rgb(213, 226, 231);
}

tbody tr {
    height: 30px;
}

th, td {
    padding: 0 5px;
}